body {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
}
.header {
    padding: 8px;
    color: rgb(16, 16, 16);
}
.footer {
    padding: 8px;
    color:white;
}

#calculator {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    width: 320px;
    background-color: lightgray;
    padding: 4px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.number:hover {
    background-color: lightgray
}

.number, .operator {
    width: 77px;
    height: 77px;
    font-size: 40px;
    margin-top: 2px;
    margin-bottom: 2px;
    background-color: rgb(255, 255, 255);
}

.operator:hover {
    background-color: hsl(39, 100%, 70%);
}

.operator {
    background-color: orange;
}

#display {
    display: flex;
    width: 316px;
    height: 77px;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    margin-bottom: 2px;
    font: 72px 'Times New Roman';
    background-color: white;
}
#zero {
    width: 158px;
}

#execute {
    width: 157px;
}

#dot {
    width: 77px;
    font-size: 40px;
    margin-top: 2px;
    margin-bottom: 2px;
    background-color: rgb(255, 255, 255);
}
