.align {
    display: flex;
    justify-content: center;
  }
  .container {
    background-color: black;
    
    padding: 1rem;
    border-radius: 10px;
  }
  .display {
    background-color: greenyellow;
    height: 40px;
    border-radius: 10px;
    text-align: right;
    font-size:30px;
    font-weight: bold;
    width: 17rem;
    overflow-x: hidden
  }
  .displayContainer {
    display: flex;
    justify-content: center;
    
  }
  .first {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    justify-content: center;
    margin-top: 1rem;
  
  }
  .second{
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    justify-content: center;
  }
  .clear {
    width: 60px;
    height: 40px;
    background-color: red;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    color: white;
    border-radius: 10px;
  }
  .blue {
    width: 60px;
    height: 40px;
    background-color: blue;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    color: white;
    border-radius: 10px;
  }
  .white {
    width: 60px;
    height: 40px;
    background-color: white;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    border-radius: 10px;
  }
  .green {
    width: 60px;
    height: 40px;
    background-color: greenyellow;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    border-radius: 10px 10px 0 0;
    border:greenyellow
  }
  .greenb {
    width: 60px;
    height: 55px;
    background-color: greenyellow;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    border: greenyellow;
  
    
  }
  .greenc {
    width: 60px;
    height: 40px;
    background-color: greenyellow;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    border-radius: 0 0 10px 10px;
    padding-top: 15px;
  
    
  }
  .black{
       width: 60px;
    height: 40px;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    border-radius: 10px;
  
  }
  .one{
      margin-top: 15px;
  }